@model IEnumerable<Mute>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="discord-avatar"></th>
				<th>
					@Html.DisplayNameFor(model => model.Username)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Muted)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.MuteDuration)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UnmuteAt)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var mute in Model) {
				<tr>
					<td class="discord-avatar">
						@if(!string.IsNullOrWhiteSpace(mute.AvatarUrl)) {
							<img src="@mute.AvatarUrl" alt="Avatar" />
						}
					</td>
					<td>
						<a asp-area="User" asp-controller="Overview" asp-action="Index" asp-route-userId="@mute.UserId">
							@mute.Username
						</a>
					</td>
					<td>
						@if(mute.Muted) {
							@Html.Raw("✅")
						} else {
							@Html.Raw("❌")
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => mute.MuteDuration)
					</td>
					<td>
						@Html.DisplayFor(modelItem => mute.MutedUntil)
					</td>
					<td>
						@if(ViewBag.PermissionWriteMutes) {
							<a asp-area="Guild" asp-controller="Mutes" asp-action="Delete" asp-route-guildId="@ViewBag.GuildId" asp-route-id="@mute.UserId">Löschen</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>