@model IEnumerable<Warn>

<h4>Warns</h4>
<hr />
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.Guild)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Reason)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Forgiven)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.WarnedAt)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.WarnedBy)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var warn in Model) {
				<tr>
					<td>
						@if(!string.IsNullOrWhiteSpace(warn.AvatarUrl)) {
							<img class="discord-avatar" src="@warn.AvatarUrl" alt="Avatar" />
						}
					</td>
					<td>
						<a asp-area="Guild" asp-controller="Warns" asp-action="Index" asp-route-guildId="@warn.GuildId">
							@(warn.Guild == null ? warn.GuildId.ToString() : warn.Guild.Name)
						</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => warn.Reason)
					</td>
					<td>
						@{
							var forgivenString = warn.Forgiven ? Html.Raw("✅") : Html.Raw("❌");
						}
						@forgivenString
					</td>
					<td>
						@Html.DisplayFor(modelItem => warn.WarnedAtString)
					</td>
					<td>
						@Html.DisplayFor(modelItem => warn.WarnedBy)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>