@model IEnumerable<(Mitternacht.Services.Database.Models.GuildConfig GuildConfig, string GuildName)>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuildConfig.GuildId)
            </th>
            <th>
                @Html.DisplayName("GuildName")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var (GuildConfig, GuildName) in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => GuildConfig.GuildId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => GuildName)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@GuildConfig.GuildId">Details/Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>