@model IEnumerable<Verification>

<h4>Verifications</h4>
<hr />
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.Username)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ForumProfileUrl)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var verification in Model) {
				<tr>
					<td>
						@if(!string.IsNullOrWhiteSpace(verification.AvatarUrl)) {
							<img class="discord-avatar" src="@verification.AvatarUrl" alt="Avatar" />
						}
					</td>
					<td>
						<a asp-area="User" asp-controller="Verifications" asp-action="Index" asp-route-userId="@verification.UserId">
							@verification.Username
						</a>
					</td>
					<td>
						<a href="@verification.ForumProfileUrl">@Html.DisplayFor(modelItem => verification.ForumProfileUrl)</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>