@model IEnumerable<Verification>

<h4>Verifications</h4>
<hr />

@if(ViewBag.PermissionWriteVerifications) {
	<a asp-action="Create" class="btn btn-primary">Verifizierung hinzufügen</a>
}

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DiscordUser)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ForumProfileUrl)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Roles)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var verification in Model) {
				<tr>
					<td>
						@Html.DisplayFor(model => verification.DiscordUser, "ModeledDiscordUser")
					</td>
					<td>
						<a href="@verification.ForumProfileUrl">@Html.DisplayFor(modelItem => verification.ForumProfileUrl)</a>
					</td>
					<td>
						@Html.DisplayFor(model => verification.Roles, "RolesArray")
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>