@model IEnumerable<Verification>

<h4>Nicht-verifizierte Nutzer</h4>
<hr />
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DiscordUser)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Roles)
				</th>
				@if(ViewBag.PermissionWriteVerifications) {
					<th></th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach(var verification in Model) {
				<tr>
					<td>
						@Html.DisplayFor(model => verification.DiscordUser, "ModeledDiscordUser")
					</td>
					<td>
						@Html.DisplayFor(model => verification.Roles, "RolesArray")
					</td>
					<td>
						@if(ViewBag.PermissionWriteVerifications) {
							<a asp-action="Create" asp-route-userId="@verification.DiscordUser.UserId">Verifizieren</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>