@model IEnumerable<Mitternacht.Services.Database.Models.UsernameHistoryModel>

<h4>UsernameHistory</h4>
<hr />
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					Nutzername
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DateAdded)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DateReplaced)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var username in Model) {
				<tr>
					<td>
						@username.ToString()
					</td>
					<td>
						@Html.DisplayFor(modelItem => username.DateAdded)
					</td>
					<td>
						@Html.DisplayFor(modelItem => username.DateReplaced)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>