@model IEnumerable<Quote>

<h4>Quotes</h4>
<hr />

@if(ViewBag.PermissionWriteQuotes) {
	<a asp-action="Create" class="btn btn-primary">Zitat hinzufügen</a>
}

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Author)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Keyword)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Text)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AddedAt)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var quote in Model) {
				<tr>
					<td>
						@Html.DisplayFor(model => quote.Author, "ModeledDiscordUser")
					</td>
					<td>
						@Html.DisplayFor(modelItem => quote.Keyword)
					</td>
					<td>
						@Html.DisplayFor(modelItem => quote.Text)
					</td>
					<td>
						@Html.DisplayFor(modelItem => quote.AddedAt)
					</td>
					<td>
						@if(ViewBag.PermissionWriteQuotes) {
		<a asp-area="Guild" asp-controller="Quotes" asp-action="Edit" asp-route-guildId="@ViewBag.GuildId" asp-route-id="@quote.Id">Bearbeiten</a>
		<a asp-area="Guild" asp-controller="Quotes" asp-action="Delete" asp-route-guildId="@ViewBag.GuildId" asp-route-id="@quote.Id">Löschen</a>
	}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>