@model Mitternacht.Services.Database.Models.GuildConfig

<h4>GuildConfig</h4>
<hr />
<div class="container-fluid">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Prefix" class="control-label"></label>
		<input asp-for="Prefix" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="DeleteMessageOnCommand" disabled /> @Html.DisplayNameFor(model => model.DeleteMessageOnCommand)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="AutoAssignRoleId" class="control-label"></label>
		<input asp-for="AutoAssignRoleId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="AutoDeleteGreetMessagesTimer" class="control-label"></label>
		<input asp-for="AutoDeleteGreetMessagesTimer" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="AutoDeleteByeMessagesTimer" class="control-label"></label>
		<input asp-for="AutoDeleteByeMessagesTimer" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="GreetMessageChannelId" class="control-label"></label>
		<input asp-for="GreetMessageChannelId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="ByeMessageChannelId" class="control-label"></label>
		<input asp-for="ByeMessageChannelId" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="SendDmGreetMessage" disabled /> @Html.DisplayNameFor(model => model.SendDmGreetMessage)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="DmGreetMessageText" class="control-label"></label>
		<input asp-for="DmGreetMessageText" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="SendChannelGreetMessage" disabled /> @Html.DisplayNameFor(model => model.SendChannelGreetMessage)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="ChannelGreetMessageText" class="control-label"></label>
		<input asp-for="ChannelGreetMessageText" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="SendChannelByeMessage" disabled /> @Html.DisplayNameFor(model => model.SendChannelByeMessage)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="ChannelByeMessageText" class="control-label"></label>
		<input asp-for="ChannelByeMessageText" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="ExclusiveSelfAssignedRoles" disabled /> @Html.DisplayNameFor(model => model.ExclusiveSelfAssignedRoles)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="AutoDeleteSelfAssignedRoleMessages" disabled /> @Html.DisplayNameFor(model => model.AutoDeleteSelfAssignedRoleMessages)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="DefaultMusicVolume" class="control-label"></label>
		<input asp-for="DefaultMusicVolume" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="VoicePlusTextEnabled" disabled /> @Html.DisplayNameFor(model => model.VoicePlusTextEnabled)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="CleverbotEnabled" disabled /> @Html.DisplayNameFor(model => model.CleverbotEnabled)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="MuteRoleName" class="control-label"></label>
		<input asp-for="MuteRoleName" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Locale" class="control-label"></label>
		<input asp-for="Locale" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="TimeZoneId" class="control-label"></label>
		<input asp-for="TimeZoneId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="GameVoiceChannel" class="control-label"></label>
		<input asp-for="GameVoiceChannel" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="VerboseErrors" disabled /> @Html.DisplayNameFor(model => model.VerboseErrors)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="VerifiedRoleId" class="control-label"></label>
		<input asp-for="VerifiedRoleId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="VerifyString" class="control-label"></label>
		<input asp-for="VerifyString" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="VerificationTutorialText" class="control-label"></label>
		<input asp-for="VerificationTutorialText" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="AdditionalVerificationUsers" class="control-label"></label>
		<input asp-for="AdditionalVerificationUsers" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="VerificationPasswordChannelId" class="control-label"></label>
		<input asp-for="VerificationPasswordChannelId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="TurnToXpMultiplier" class="control-label"></label>
		<input asp-for="TurnToXpMultiplier" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="MessageXpTimeDifference" class="control-label"></label>
		<input asp-for="MessageXpTimeDifference" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="MessageXpCharCountMin" class="control-label"></label>
		<input asp-for="MessageXpCharCountMin" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="MessageXpCharCountMax" class="control-label"></label>
		<input asp-for="MessageXpCharCountMax" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="LogUsernameHistory" class="control-label"></label>
		<input asp-for="LogUsernameHistory" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="BirthdayRoleId" class="control-label"></label>
		<input asp-for="BirthdayRoleId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="BirthdayMessage" class="control-label"></label>
		<input asp-for="BirthdayMessage" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="BirthdayMessageChannelId" class="control-label"></label>
		<input asp-for="BirthdayMessageChannelId" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="BirthdaysEnabled" disabled /> @Html.DisplayNameFor(model => model.BirthdaysEnabled)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="BirthdayMoney" class="control-label"></label>
		<input asp-for="BirthdayMoney" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="GommeTeamMemberRoleId" class="control-label"></label>
		<input asp-for="GommeTeamMemberRoleId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="VipRoleId" class="control-label"></label>
		<input asp-for="VipRoleId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="TeamUpdateChannelId" class="control-label"></label>
		<input asp-for="TeamUpdateChannelId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="TeamUpdateMessagePrefix" class="control-label"></label>
		<input asp-for="TeamUpdateMessagePrefix" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CountToNumberChannelId" class="control-label"></label>
		<input asp-for="CountToNumberChannelId" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CountToNumberMessageChance" class="control-label"></label>
		<input asp-for="CountToNumberMessageChance" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="VerbosePermissions" disabled /> @Html.DisplayNameFor(model => model.VerbosePermissions)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="PermissionRole" class="control-label"></label>
		<input asp-for="PermissionRole" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="FilterInvites" disabled /> @Html.DisplayNameFor(model => model.FilterInvites)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="FilterWords" disabled /> @Html.DisplayNameFor(model => model.FilterWords)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="FilterZalgo" disabled /> @Html.DisplayNameFor(model => model.FilterZalgo)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="WarningsInitialized" disabled /> @Html.DisplayNameFor(model => model.WarningsInitialized)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="ForumNotificationChannelId" class="control-label"></label>
		<input asp-for="ForumNotificationChannelId" class="form-control" disabled />
	</div>
</div>