@model Mitternacht.Services.Database.Models.BotConfig

<h4>BotConfig</h4>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ForwardMessages)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ForwardToAllOwners)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyGenerationChance)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyGenerationCooldown)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RotatingStatuses)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RemindMessageFormat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencySign)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyPluralName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TriviaCurrencyReward)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MinimumBetAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BetflipMultiplier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyDropAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyDropAmountMax)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Betroll67Multiplier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Betroll91Multiplier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Betroll100Multiplier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DMHelpString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HelpString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OkColor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ErrorColor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Locale)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DefaultPrefix)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomReactionsStartWith)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LogUsernames)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastTimeBirthdaysChecked)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstAprilHereChance)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DmCommandsOwnerOnly)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => Model.ForwardMessages)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.ForwardToAllOwners)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyGenerationChance)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyGenerationCooldown)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.RotatingStatuses)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.RemindMessageFormat)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencySign)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyPluralName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.TriviaCurrencyReward)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.MinimumBetAmount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.BetflipMultiplier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyDropAmount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CurrencyDropAmountMax)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.Betroll67Multiplier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.Betroll91Multiplier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.Betroll100Multiplier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.DMHelpString)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.HelpString)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.OkColor)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.ErrorColor)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.Locale)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.DefaultPrefix)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.CustomReactionsStartWith)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.LogUsernames)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.LastTimeBirthdaysChecked)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.FirstAprilHereChance)
			</td>
			<td>
				@Html.DisplayFor(modelItem => Model.DmCommandsOwnerOnly)
			</td>
		</tr>
		}
	</tbody>
</table>
