@model Mitternacht.Services.Database.Models.BotConfig

<h4>BotConfig</h4>
<hr />
<div class="container-fluid">
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="ForwardMessages" disabled /> @Html.DisplayNameFor(model => model.ForwardMessages)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="ForwardToAllOwners" disabled /> @Html.DisplayNameFor(model => model.ForwardToAllOwners)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="CurrencyGenerationChance" class="control-label"></label>
		<input asp-for="CurrencyGenerationChance" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencyGenerationCooldown" class="control-label"></label>
		<input asp-for="CurrencyGenerationCooldown" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="RotatingStatuses" disabled /> @Html.DisplayNameFor(model => model.RotatingStatuses)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="RemindMessageFormat" class="control-label"></label>
		<input asp-for="RemindMessageFormat" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencySign" class="control-label"></label>
		<input asp-for="CurrencySign" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencyName" class="control-label"></label>
		<input asp-for="CurrencyName" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencyPluralName" class="control-label"></label>
		<input asp-for="CurrencyPluralName" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="TriviaCurrencyReward" class="control-label"></label>
		<input asp-for="TriviaCurrencyReward" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="MinimumBetAmount" class="control-label"></label>
		<input asp-for="MinimumBetAmount" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="BetflipMultiplier" class="control-label"></label>
		<input asp-for="BetflipMultiplier" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencyDropAmount" class="control-label"></label>
		<input asp-for="CurrencyDropAmount" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CurrencyDropAmountMax" class="control-label"></label>
		<input asp-for="CurrencyDropAmountMax" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Betroll67Multiplier" class="control-label"></label>
		<input asp-for="Betroll67Multiplier" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Betroll91Multiplier" class="control-label"></label>
		<input asp-for="Betroll91Multiplier" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Betroll100Multiplier" class="control-label"></label>
		<input asp-for="Betroll100Multiplier" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="DMHelpString" class="control-label"></label>
		<input asp-for="DMHelpString" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="HelpString" class="control-label"></label>
		<input asp-for="HelpString" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="OkColor" class="control-label"></label>
		<input asp-for="OkColor" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="ErrorColor" class="control-label"></label>
		<input asp-for="ErrorColor" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Locale" class="control-label"></label>
		<input asp-for="Locale" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="DefaultPrefix" class="control-label"></label>
		<input asp-for="DefaultPrefix" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="CustomReactionsStartWith" disabled /> @Html.DisplayNameFor(model => model.CustomReactionsStartWith)
		</label>
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="LogUsernames" disabled /> @Html.DisplayNameFor(model => model.LogUsernames)
		</label>
	</div>
	<div class="form-group">
		<label asp-for="LastTimeBirthdaysChecked" class="control-label"></label>
		<input asp-for="LastTimeBirthdaysChecked" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="FirstAprilHereChance" class="control-label"></label>
		<input asp-for="FirstAprilHereChance" class="form-control" disabled />
	</div>
	<div class="form-group form-check">
		<label class="form-check-label">
			<input class="form-check-input" asp-for="DmCommandsOwnerOnly" disabled /> @Html.DisplayNameFor(model => model.DmCommandsOwnerOnly)
		</label>
	</div>
</div>
